{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <section id="home">
        <form class="entertainment" action="/entertainment">
            <header class="home_heading"><h3>Entertainment</h3></header>
            <main>
                <img src="https://github.com/thisiswaiyan/waiyan.github.io/blob/main/entertainment.jpg" alt="">
            </main>
        </form>
        <form class="Learning" action="/learning">
            <header class="home_heading"><h3>Learning</h3></header>
            <main>
                <img src="https://github.com/thisiswaiyan/waiyan.github.io/blob/main/learning.jpg" alt="">
            </main>
        </form>
{% endblock %}